* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  color: #555;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Buttons */
.btn:link,
.btn:visited {
  padding: 0.3rem 0.6rem;
  display: inline-block;
  font-size: 0.7rem;
  font-weight: 400;
  color: $mainBrown;
  border: 1px solid $mainBrown;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 9px;
  transition: all 0.2s;

  @mixin atSmall {
    padding: 0.5rem 0.8rem;
  }

  @mixin atMedium {
    padding: 0.7rem 1rem;
  }
}

.btn:hover,
.btn:active {
  color: $mainWhite;
  border: 1px solid $mainWhite;
}
