.large-hero {
  width: 100%;
  height: 100%;
  margin: auto;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../../assets/images/coffee.jpg) no-repeat 50% 50%;
  top: 0;
  display: table;
  background-size: cover;
  background-attachment: fixed;

  & .image-box {
    display: table-cell;
      vertical-align: middle;
      width: 100%;
      max-width: none;
  }

  & .textbox {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  & h1 {
    color: $mainWhite;
    font-weight: 100;
    font-size: 250%;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);
    margin: 0;

    @mixin atSmall {
      font-size: 350%;
    }

    @mixin atMedium {
      font-size: 450%;
    }
  }

  & h2 {
    margin-top: 8px;
    margin-bottom: 15px;
    font-size: 110%;
    font-weight: 100;
    color: $mainWhite;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.5);

    @mixin atSmall {
      font-size: 150%;
    }

    @mixin atMedium {
      font-size: 200%;
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }

  & .btn:link,
  & .btn:visited {
    
    @mixin atSmall {
      padding: 0.5rem 0.8rem;
    }

    @mixin atMedium {
      padding: 0.7rem 1rem;
    }
  }
}
