.row {

  @mixin clearfix;

  @mixin atMedium {
    & .first-span-1-of-2 {
      float: left;
      width: 50%;
      padding-right: 18px;
    }

    & .second-span-1-of-2 {
      float: left;
      width: 50%;
      padding-left: 18px;
    }
  }

  @mixin atLarge {
    & .first-span-1-of-3 {
      float: left;
      width: 33.33%;
      padding-right: 35px;
    }

    & .second-span-1-of-3 {
      float: left;
      width: 33.33%;
      padding-left: 12px;
      padding-right: 12px;
    }

    & .third-span-1-of-3 {
      float: left;
      width: 33.33%;
      padding-left: 35px;
    }
  }
}
